#não salva a pasta desenvolvimento
/desenvolvimento
app/etc/modules/z-disable-modules.xml
.modgit/*/source/
/index-test.php


/nbproject/*
/app/etc/local.xml
/var/*
!/var/.gitkeep
!/var/tmp/.gitkeep
/errors/local.xml
/media/*
!/media/.gitkeep
/downloader/.cache/
.sass-cache
.thumbs
_paleta.scss
.DS_Store
/vendor
.idea

skin/frontend/jn2-package/default/src/node_modules
skin/frontend/jn2-package/default/node_modules

cloudflare.txt

#apenas dump.php é válido
dump/*
!dump/dump.php

#impede a criação de arquivos gigantes no projeto
*.tar
*.tar.gz
*.tar.bz
*.sql.gz
*.sql.bz
*.sql.7z
*.7z
*.zip
*.rar
*.tgz
*.tbz

#permite sql instalacao
!instalacao/setups/before/*.sql
!instalacao/themes/*/*.sql
#remoção thumbs desnecessários instalação medias
/instalacao/setups/before/media/wysiwyg/.thumbs/
/instalacao/themes/*/media/wysiwyg/.thumbs/
instalacao/setups/before/media/catalog/product/cache/*
instalacao/themes/*/media/catalog/product/cache/
instalacao/setups/before/media/ibanners/cache/*
instalacao/themes/*/media/ibanners/cache/*


#remoção módulos node do theme mobile jn2
skin/frontend/jn2/mobile/node_modules

#arquivos de musica e video copiado de uma lista de mime types
*.mp3
*.wav
*.wmv
*.aac
*.f4a
*.oga
*.ogg
*.opus
*.ra

*.avi
*.wmv
*.asf
*.asx
*.mng
*.flv
*.webm
*.mov
*.mp4
*.ogv
*.3gpp
*.3gp;
*.m4v
*.f4v
*.f4p
*.mpeg
*.mpg
*/**/node_modules/

.modman

skin/frontend/base/default/sub/js/generate_token\.js
